name: Actions Workflow

on:
  schedule:
    - cron: '5 * * * *'
  push:
  pull_request:

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps: 
      - name: Simple JS Action
        id: greet
        uses: actions/hello-world-javascript-action@master
        with: 
          who-to-greet: Hafiz
      - name: List Files
        run: |
          pwd
          ls -a
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo "${{ github.token }}"

