name: ENV Variable
on: push
env: 
  WF_ENV: Available to all jobs

jobs:
  log-env:
    runs-on: ubuntu-latest
    env:
      JOB_ENV: Avalaible for Jobs environment
    steps:
      - name: Log environment variables
        env: 
          STEPS_ENV: Available for Steps environment
        run: |
          echo "WF ENV ${WF_ENV}"
          echo "JOB ENV ${JOB_ENV}"
          echo "STEPS ENV ${STEPS_ENV}"
      - name: Log environment variables 2
        run: |
          echo "WF ENV ${WF_ENV} 2"
          echo "JOB ENV ${JOB_ENV} 2"
          echo "STEPS ENV ${STEPS_ENV} 2"
    
